NAME=observation-back
MEMORY=512m
PORT1=
PORT2=
REPLICAS=1
TYPE=
NETWORK=host
MODE=global
ENV=DATABASE_URL,NPM_TOKEN
MOUNT_FROM_HOSTS="/etc/letsencrypt:/etc/letsencrypt,/home/user:/home/user"